@charset "UTF-8";
/*デイトラより*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

/* =====================================================
  「設定」ファイル 
  サイト共通で必要になる設定値を変数で定義しておくファイルです。
  ===================================================== */
/* =====================================================
  メディアクエリ用のmixinを定義

  // //使用例
// .header {
//   height: 100px; //ＰＣ用の表示

//   @include mq(sp) {
//     height: 60px; //スマホの時だけ高さを60pxに！
//   }
// }

このように @media screen and (width: 767px) { } を書かなくても、
PC用のcssを書きながらスマホ用の表示を書き足すことができます！
===================================================== */
/*----------------------------------
    共通
-----------------------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
@media screen and (min-width: 768px) {
  html {
    scroll-padding-top: 70px;
  }
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  background: #fff;
  font-weight: 300;
}

@media not screen and (min-width: 768px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.inner {
  margin-left: auto;
  margin-right: auto;
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 40px;
    max-width: 1280px;
  }
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1; /* 40px */
  text-align: center;
  padding-bottom: 28px;
  position: relative;
  text-align: center;
  /* 回答
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
    @include mixin.mq(pc) {
    gap: 24px;
  }
  */
}
.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    padding-bottom: 24px;
  }
}

.button {
  color: #3EA1D1;
  border: 1px solid #3EA1D1;
  background: #fff;
  width: 158px;
  padding: 11px 3px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s; /* hoverする前のクラスにつける*/
  /* ホバー */
}
.button:hover {
  background-color: #3EA1D1;
  color: #fff;
}

.main {
  display: grid;
  gap: 96px;
}
@media screen and (min-width: 768px) {
  .main {
    gap: 160px;
  }
}

.section__content {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .section__content {
    margin-top: 64px;
  }
}

/*----------------------------------
    header
-----------------------------------*/
.header {
  height: 60px;
  /*header固定*/
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__inner {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__logo {
  padding-top: 19px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.header__logo a img {
  /*1.widthを指定 2.display:blockを指定する*/
  width: 120px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    padding-top: 3px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 20px;
  }
}
.header__logo:hover {
  opacity: 0.6;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 46px;
  }
}

.header__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s; /* hoverする前のクラスにつける*/
  /* ホバー */
}
.header__link:hover {
  color: #3EA1D1;
}

.drawer-icon {
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 51;
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(44.89deg);
          transform: rotate(44.89deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(-44.904deg);
          transform: rotate(-44.904deg);
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #3EA1D1;
  -webkit-transition: top 0.3x linear, -webkit-transform 0.3s linear;
  transition: top 0.3x linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, top 0.3x linear;
  transition: transform 0.3s linear, top 0.3x linear, -webkit-transform 0.3s linear;
}
.drawer-icon__bar:nth-of-type(1) {
  top: 0;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 8px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 16px;
}

.drawer-content {
  width: 270px;
  height: calc(100% - 60px);
  position: fixed;
  top: 60px;
  right: 0;
  color: #fff;
  background: #3EA1D1;
  z-index: 50;
  padding-top: 32px;
  padding-right: 15px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content__menu {
  padding-top: 8px;
}

.drawer-content__link {
  display: block;
  font-size: 18px;
  padding-bottom: 32px;
  text-align: right;
}

/*----------------------------------
    mv
-----------------------------------*/
.mv__inner {
  padding-inline: 15px;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    padding-left: 0;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .mv__wrapper {
    position: relative;
  }
}

.mv__picture {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mv__picture {
    text-align: right;
  }
}
.mv__picture img {
  width: 345px;
  aspect-ratio: 345/414;
}
@media screen and (min-width: 768px) {
  .mv__picture img {
    width: 990px;
    aspect-ratio: 990/660;
  }
}

@media screen and (min-width: 768px) {
  .mv__content {
    background: #fff;
    padding: 80px 30px 80px 40px;
    width: 366px;
    height: 318px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.mv__head {
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: -0.01rem;
}
@media screen and (min-width: 768px) {
  .mv__head {
    margin-top: 0px;
  }
}

.mv__text {
  margin-top: 16px;
}
.mv__text span {
  display: block;
}
@media screen and (min-width: 768px) {
  .mv__text {
    margin-top: 16px;
    line-height: 1.68;
  }
}

/*----------------------------------
    concept
-----------------------------------*/
.concept__wrapper {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .concept__wrapper {
    margin-top: 66px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6.6666666667%;
  }
}

.concept__img img {
  width: 600px;
  aspect-ratio: 600/400;
}
@media screen and (min-width: 768px) {
  .concept__img {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.concept__content {
  margin-top: 34px;
  max-width: 600px;
}
@media screen and (min-width: 768px) {
  .concept__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 6px;
  }
}

.concept__head p {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .concept__head p {
    font-size: clamp(1.125rem, 0.903rem + 0.46vw, 1.25rem);
  }
}

.concept__text {
  margin-top: 22px;
  line-height: 1.68;
}
@media screen and (min-width: 768px) {
  .concept__text {
    margin-top: 39px;
  }
}

/*----------------------------------
    feature
-----------------------------------*/
.feature__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 52px;
}
@media screen and (min-width: 768px) {
  .feature__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(0.625rem, -8.264rem + 18.52vw, 5.625rem);
  }
}

.feature__card {
  background: #fff;
  -webkit-box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
          box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
  max-width: 345px;
  height: auto;
}

.feature__card-img {
  text-align: center;
}
.feature__card-img img {
  height: 243.53px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media screen and (min-width: 768px) {
  .feature__card-img img {
    aspect-ratio: 340/240; /* 画像の比率 width / height */
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    /*回答
    width:100%;
    */
  }
}

.feature__card-text {
  text-align: center;
  padding-block: 25px;
}
@media screen and (min-width: 768px) {
  .feature__card-text {
    padding-block: 26px;
  }
}

/*----------------------------------
    question
-----------------------------------*/
/* 回答*/
.question {
  position: relative;
}
.question::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.question img {
  width: 100%;
}

.question__contents {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 132px 20px 50px 15px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .question__contents {
    width: 50%;
    padding: 58px 0px 122px 40px;
    line-height: 1.68;
  }
}

.question__head {
  font-weight: 600;
}
.question__head span {
  display: block;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .question__head span {
    font-size: 22px;
  }
}

.question__message {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .question__message {
    font-size: 16px;
  }
}

/*----------------------------------
    products
-----------------------------------*/
.products__inner {
  padding-inline: 56px;
}
@media screen and (min-width: 768px) {
  .products__inner {
    padding-inline: 40px;
    max-width: 1020px;
  }
}

.products__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 41px;
}
@media screen and (min-width: 768px) {
  .products__lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: clamp(1rem, -6.111rem + 14.81vw, 5rem);
  }
}

.products-link {
  width: 263px;
}
@media screen and (min-width: 768px) {
  .products-link {
    width: clamp(12.5rem, 5.5rem + 14.58vw, 16.438rem);
  }
  .products-link:hover .products__link-image {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.products-link img {
  aspect-ratio: 1/1;
}

.products__link-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.products__link-image {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products__link-image {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}

.products__link-meta {
  font-size: 14px;
}

.products__link-title {
  margin-top: 20px;
}

.products__link-price {
  color: #989898;
  margin-top: 10px;
}

.products__button {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .products__button {
    margin-top: 44px;
  }
}

/*----------------------------------
    news
-----------------------------------*/
@media screen and (min-width: 768px) {
  .news__inner {
    max-width: 1120px;
  }
}

.news__lists {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
@media screen and (min-width: 768px) {
  .news__lists {
    margin-top: 64px;
    gap: 20px;
  }
}

.news__list {
  display: block;
  width: 345px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e0e0e0;
}
@media screen and (min-width: 768px) {
  .news__list {
    width: 100%;
    padding-bottom: 24px;
  }
}

.news__link-img {
  height: 212.31px;
  width: 345px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .news__link-img {
    width: 260px;
    height: 100%;
    margin-top: 2px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: hidden;
  }
}
.news__link-img img {
  aspect-ratio: 260/160;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .news__link-img img {
    aspect-ratio: 260/160;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}

@media screen and (min-width: 768px) {
  .news-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 40px;
  }
  .news-link:hover .news__link-img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.news__link-meta {
  margin-top: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /**/
}
@media screen and (min-width: 768px) {
  .news__link-meta {
    margin-top: 0;
  }
}

.news__link-date {
  font-size: 14px;
}

.news__link-title {
  font-weight: 600;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .news__link-title {
    margin-top: 14px;
    font-size: 18px;
  }
}

.news__link-text {
  color: #888;
  font-size: 14px;
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .news__link-text {
    margin-top: 10px;
    letter-spacing: -0.0025em;
  }
}

.news__button {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .news__button {
    margin-top: 44px;
    font-size: 14px;
  }
}

/*----------------------------------
    motto
-----------------------------------*/
.motto {
  margin-top: -44px;
}
@media screen and (min-width: 768px) {
  .motto {
    margin-top: -66px;
  }
}

.motto__wrapper {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .motto__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: clamp(1.25rem, -5.417rem + 13.89vw, 5rem);
  }
}

.motto__img {
  text-align: center;
}
.motto__img img {
  width: 600px;
  aspect-ratio: 600/400;
}
@media screen and (min-width: 768px) {
  .motto__img {
    width: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.motto__content {
  margin-top: 34px;
  max-width: 600px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .motto__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 4px;
  }
}

.motto__head p {
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .motto__head p {
    font-size: clamp(1.25rem, 0.361rem + 1.85vw, 1.75rem);
  }
}

.motto__text {
  font-size: 14px;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .motto__text {
    font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
    margin-top: 34px;
  }
}

/*----------------------------------
    contact
-----------------------------------*/
.contact {
  padding-block: 56px;
  background: url("../../img/contact-bg_sp.png") no-repeat center center/cover;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-block: 80px;
    background: url("../../img/contact_bg.png") no-repeat center center/cover;
  }
}

.contact__title {
  color: #3EA1D1;
}

.contact__head {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 46px;
}
.contact__head .is-required {
  color: #e7728e;
}
@media screen and (min-width: 768px) {
  .contact__head {
    margin-top: 66px;
  }
}

.contact__form {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .contact__form {
    margin-top: 19px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__fields {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .contact__fields {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}
.form-field .is-required {
  color: #e7728e;
  font-size: 10px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .form-field .is-required {
    padding-left: 4px;
    font-size: 11px;
  }
}

.form-field__head {
  color: #fff;
  background: #3EA1D1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  padding: 4px 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .form-field__head {
    -webkit-clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
    width: 180px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 7px 5px 4px;
  }
  .form-field__head::before {
    right: 0;
    width: 10px;
    height: 10px;
    background: #000;
    border: 1px solid #fff;
  }
}

.form-field__label {
  font-weight: 600;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .form-field__label {
    font-size: 18px;
  }
}

.form-field__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 3px;
}
@media screen and (min-width: 768px) {
  .form-field__item {
    width: 320px;
    margin-top: 0;
  }
}

.form-text {
  border: none;
  width: 100%;
  height: 40px;
  background: #fff;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.form-text:hover, .form-text:focus {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
}

.form-filed__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-radio {
  position: relative;
}

.form-radio__input {
  /*選択はできるけど見えない位置へ*/
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  /*チェックされた時のテキストをどうするか*/
}
.form-radio__input:checked + .form-radio__text {
  background-color: #3EA1D1;
  color: #fff;
}
.form-radio__input:focus + .form-radio__text {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
}

.form-radio__text {
  font-size: 16px;
  letter-spacing: 0.026px;
  color: #3EA1D1;
  border: 1px solid #fff;
  background: #fff;
  position: relative;
  width: 80px;
  height: 40px;
  display: grid;
  place-items: center;
}

.form-textarea {
  border: none;
  width: 100%;
  height: 122px;
  background: #fff;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  font-size: 16px;
  resize: vertical;
}
.form-textarea:focus {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
}

.contact__privacy {
  margin-top: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contact__privacy {
    margin-top: 33px;
  }
}

.form-checkbox {
  position: relative;
}

.form-checkbox__input {
  /*選択はできるけど見えない位置へ*/
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form-checkbox__input:checked + .form-checkbox__text::after {
  opacity: 1;
}
.form-checkbox__input:focus + .form-checkbox__text::before {
  outline: #3EA1D1 auto 1px;
  -webkit-box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
          box-shadow: 5px 6px 16px 0px rgba(62, 161, 209, 0.16);
}

.form-checkbox__text {
  font-size: 16px;
  padding-left: 30px;
}
.form-checkbox__text a {
  text-decoration-line: underline;
  color: #3EA1D1;
}
.form-checkbox__text::before, .form-checkbox__text::after {
  content: "";
  position: absolute;
  inset-block: 0;
  margin-block: auto;
}
.form-checkbox__text::before {
  left: 0;
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #3EA1D1;
}
.form-checkbox__text::after {
  opacity: 0;
  width: 19.414px;
  height: 14.621px;
  left: 1.29px;
  background: url("../../img/icon-checked.png") no-repeat center center/contain;
}

.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .contact__button {
    margin-top: 42px;
  }
}

/*----------------------------------
    footer
-----------------------------------*/
.footer {
  padding-block: 40px 7px;
  background: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 14px;
  }
}

.footer__logo {
  margin: 0 auto;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer__logo a img {
  width: 120px;
  display: block;
  margin-inline: auto;
}
.footer__logo:hover {
  opacity: 0.6;
}

.footer__menu-items {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .footer__menu-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__menu-item {
  font-size: 12px;
}

.footer__menu-link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer__menu-link:hover {
  opacity: 0.6;
}

.footer__sns-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: 14px;
}

.footer__sns-link {
  width: 21px;
  height: 21px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer__sns-link img {
  max-width: 100%;
  height: auto;
}
.footer__sns-link:hover {
  opacity: 0.6;
}

.footer__copyright-content {
  margin-top: 23px;
  text-align: center;
  font-size: 12px;
}
.footer__copyright-content small {
  color: #888888;
  font-size: inherit;
}
@media screen and (min-width: 768px) {
  .footer__copyright-content {
    margin-top: 28px;
  }
}

/*----------------------------------
    sample
-----------------------------------*/