@charset "utf-8";
/* =====================================================
  「設定」ファイル 
  サイト共通で必要になる設定値を変数で定義しておくファイルです。
  ===================================================== */
$font-family: "Noto Serif JP", serif;

$width-inner: 1200px;
$font-size-base: 16px;
$line-height-base: 1.7;

$header-height-pc:80px;
$header-height-sp:70px;

