@use "../setting/config";
@use "../setting/color";
@use "../mixin/mixin";

/*----------------------------------
    共通
-----------------------------------*/

body {
  font-family: config.$font-family;
  font-size: config.$font-size-base;
  line-height: config.$line-height-base;
  color: color.$base-black;
  background: color.$base-white;
  font-weight: 300;
}

.hidden-sp {
  @include mixin.mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include mixin.mq(pc) {
    display: none;
  }
}

.inner {
  margin-left: auto;
  margin-right: auto;
  // padding-left: 15px;
  // padding-right: 15px;
  padding-inline: 15px;
  @include mixin.mq(pc) {
    // padding-left: 40px;
    // padding-right: 40px;
    padding-inline: 40px;
    max-width: calc(config.$width-inner + 40px * 2);
  }
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1; /* 40px */
  text-align: center;
  padding-bottom: 28px;
  position: relative;
  text-align: center;
  /* 回答
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
    @include mixin.mq(pc) {
    gap: 24px;
  }
  */

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 60px / 2);
    width: 60px;
    height: 1px;
    // border-radius: 3px;
    background: color.$main-blue;
  }
  @include mixin.mq(pc) {
    font-size: 40px;
    padding-bottom: 24px;
  }
}

.button {
  color: color.$main-blue;
  border: 1px solid color.$main-blue;
  background: color.$base-white;
  width: 158px;
  padding: calc(12px - 1px) calc(4px - 1px);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s; /* hoverする前のクラスにつける*/

  /* ホバー */
  &:hover {
    background-color: color.$main-blue;
    color: color.$base-white;
  }
}

.main {
  display: grid;
  gap: 96px;
  @include mixin.mq(pc) {
    gap: 160px;
  }
}
.section {
}

.section__head {
}

.section__content {
  margin-top: 46px;
  @include mixin.mq(pc) {
    margin-top: 64px;
  }
}

/*----------------------------------
    header
-----------------------------------*/

.header {
  height: 60px;
  @include mixin.mq(pc) {
    height: 70px;
  }

  //   position: fixed;
  //   top: 0;
  //   left: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: inherit; //高さを継承する
  @include mixin.mq(pc) {
    max-width: calc(config.$width-inner + 40px * 2);
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__logo {
  padding-top: 19px;
  transition: opacity 0.3s;
  a {
    img {
      /*1.widthを指定 2.display:blockを指定する*/
      width: 120px;
      display: block; //余計な隙間が出づらくなる
      @include mixin.mq(pc) {
        padding-top: 3px;
      }
    }
  }
  @include mixin.mq(pc) {
    padding-top: 20px;
  }
  &:hover {
    opacity: 0.6;
  }
}

.header__nav {
  display: none;

  @include mixin.mq(pc) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
    // }

    // margin-top: 22px;
  }
}

.header__lists {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  // gap: calc(32px -8px * 2);
  @include mixin.mq(pc) {
    // flex-direction: row;
    // align-items: center;
    // gap: 46px;
  }
}

.header__list {
}

.header__link {
  transition: color 0.3s; /* hoverする前のクラスにつける*/

  /* ホバー */
  &:hover {
    color: color.$main-blue;
  }
}

//cssでは使わないみたいohaより
// .header__open {
// }

.drawer-icon {
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 51;
  margin-top: 21px;
  @include mixin.mq(pc) {
    display: none;
  }

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(44.89deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-44.904deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: color.$main-blue;
  transition: transform 0.3s linear, top 0.3x linear; //linear:一定速度

  &:nth-of-type(1) {
    top: 0;
  }
  &:nth-of-type(2) {
    top: 8px;
  }
  &:nth-of-type(3) {
    top: 16px;
  }
}

.drawer-content {
  width: 270px;
  // height: 100%;
  height: calc(100% - 60px);
  position: fixed;
  top: 60;
  right: 0;
  color: color.$base-white;
  background: color.$main-blue;
  z-index: 50;
  padding-top: calc(40px - 8px);
  padding-right: 15px;
  transform: translateX(100%); //コンテンツ分が100%移動
  transition: transform 0.3s linear;
  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content__menu {
  // padding-top: calc(40px - 16px);
  padding-top: 8px;
}

.drawer-content__link {
  display: block;
  font-size: 18px;
  padding-bottom: 32px;
  text-align: right;
}

/*----------------------------------
    mv
-----------------------------------*/
.mv {
}

.mv__inner {
  // padding-left: 15px;
  // padding-right: 15px;
  padding-inline: 15px;

  @include mixin.mq(pc) {
    padding-left: 0;
    padding-right: 40px;
    // margin-left: auto;
    // margin-right: auto;
    // right: 0;
    // max-width: config.$width-inner;
  }
}

.mv__wrapper {
  @include mixin.mq(pc) {
    position: relative;
  }
}

.mv__picture {
  display: block;
  text-align: center;
  @include mixin.mq(pc) {
    text-align: right;
  }
  img {
    width: 345px;
    aspect-ratio: 345 /414; //縦横比を設定
    @include mixin.mq(pc) {
      width: 990px;
      // max-width: 990px;
      aspect-ratio: 990 /660; //縦横比を設定
    }
  }
}

.mv__content {
  @include mixin.mq(pc) {
    background: color.$base-white;
    padding: 80px 30px 80px 40px;
    width: 366px;
    height: 318px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mv__head {
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: -0.01rem;
  @include mixin.mq(pc) {
    margin-top: 0px;
  }
}

.mv__text {
  margin-top: 16px;
  span {
    display: block;
  }
  @include mixin.mq(pc) {
    margin-top: 16px;
    line-height: 1.68;
  }
}

/*----------------------------------
    concept
-----------------------------------*/
.concept {
  // padding-top: 96px;
  // @include mixin.mq(pc) {
  //   padding-top: 160px;
  // }
}

.concept__wrapper {
  // margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  @include mixin.mq(pc) {
    // margin-top: 64px;
    flex-direction: row;
    align-items: center;
    // gap: 80px; //
    gap: calc(80px / 1200px * 100%);
  }
}

.concept__img {
  img {
    width: 600px;
    aspect-ratio: 600 /400; //縦横比を設定
    // width: 100%;
  }
  @include mixin.mq(pc) {
    // width: 55%;
    width: calc(600px / 1200px * 100%);
    flex-shrink: 0;
  }
}

.concept__content {
  margin-top: 34px;
  max-width: 600px;
  @include mixin.mq(pc) {
    // width: 45%;
    flex-grow: 1; //フレックスコンテナー内の残りの空間
    margin-top: 6px;
  }
}

.concept__head {
  p {
    font-size: 20px;
    font-weight: 600;
    @include mixin.mq(pc) {
      font-size: clamp(1.125rem, 0.903rem + 0.46vw, 1.25rem); //18->20px
    }
  }
}

.concept__text {
  margin-top: 22px;
  line-height: 1.68;
  @include mixin.mq(pc) {
    margin-top: 39px;
    // line-height: config.$line-height-base;
  }
}

/*----------------------------------
    feature
-----------------------------------*/
.feature {
  // padding-top: 96px;
  // @include mixin.mq(pc) {
  //   padding-top: 160px;
  // }
}

.feature__cards {
  // margin-top: 45px;
  // display: block;
  // justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  @include mixin.mq(pc) {
    display: grid;
    // gap: 90px;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(0.625rem, -8.264rem + 18.52vw, 5.625rem);
    // margin-top: 66px;
  }
  // display: block;
  // gap: 50px;
}

.feature__card {
  background: #fff;
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
  max-width: 345px;
  height: auto;
}

// .feature__card + .feature__card {
//   margin-top: 52px;
//   @include mixin.mq(pc) {
//     margin-top: 0;
//   }
// }

.feature__card-img {
  text-align: center;
  img {
    height: 243.53px;
    align-self: stretch;
    @include mixin.mq(pc) {
      aspect-ratio: 340/240; /* 画像の比率 width / height */
      object-fit: cover;
      height: 100%;
      /*回答
      width:100%;
      */
    }
  }
}

.feature__card-text {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

/*----------------------------------
    question
-----------------------------------*/
/* 回答*/
// .question {
//   position: relative;
//   // background: url("../../img/question-bg.png") no-repeat center center / contain;
// @include mixin.mq(pc) {
//   background: url("../../img/question-bg_sp.png") no-repeat center center /
//     contain;
// }

//   &::after {
//     position: absolute;
//     content: "";
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.12);
// z-index: 1;
//   }
// }
.question {
  position: relative;
  // margin-top: 96px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
  @include mixin.mq(pc) {
    // margin-top: 160px;
  }
  img {
    width: 100%;
  }
}

.question__inner {
}

.question__contents {
  //レスポンシブ対応はtopを可変に
  position: absolute;
  top: 0;
  left: 0;
  color: color.$base-white;
  padding: 180px 20px 50px 15px;
  z-index: 2;
  @include mixin.mq(pc) {
    // top: 160px;
    // max-width: config.$width-inner;
    width: calc(600px / 1200px * 100%);
    padding: 58px 0px 122px 40px; //40->123
    line-height: 1.68;
  }
}

.question__head {
  font-size: 20px;
  font-weight: 600;
  span {
    display: block;
    font-size: 22px;
  }
}

.question__message {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  @include mixin.mq(pc) {
    font-size: 16px;
  }
}

/*----------------------------------
    products
-----------------------------------*/
.products {
  // padding-top: 96px;
  // @include mixin.mq(pc) {
  //   padding-top: 160px;
  // }
}

.products__inner {
  // padding-left: 56px;
  // padding-right: 56px;
  padding-inline: 56px;
  @include mixin.mq(pc) {
    // padding-left: 0;
    // padding-right: 0;
    // display: flex;
    // margin-left: auto;
    // margin-right: auto;
    // max-width: config.$width-inn
    padding-inline: 40px;
    max-width: calc(940px + 40px * 2);
  }
}

.products__lists {
  // margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;

  @include mixin.mq(pc) {
    // margin-top: 66px;
    flex-direction: row;
    // gap: 80px; //
    // gap: clamp(1.25rem, -5.417rem + 13.89vw, 5rem); //20->80
    gap: clamp(1rem, -6.111rem + 14.81vw, 5rem); //16->80
  }
  // @include mixin.mq(tb) {
  //   margin-top: 46px;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 41px;
  // }
}

.products__list {
}

.products-link {
  width: 263px;

  @include mixin.mq(pc) {
    // width: 260px;
    width: clamp(12.5rem, 5.5rem + 14.58vw, 16.438rem); //200px-263px
  }
  // padding-top: 10px;
  // padding-bottom: 10px;
  img {
    aspect-ratio: 1 / 1;
  }
  &:hover {
    // img {
    //   width: 120%;
    // }
  }
}

.products__link-meta {
  font-size: 14px;
}

.products__link-title {
  margin-top: 20px;
}

.products__link-price {
  color: #989898;
  margin-top: 10px;
}

.products__button {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixin.mq(pc) {
    margin-top: 44px;
  }
}

/*----------------------------------
    news
-----------------------------------*/

.news {
  // padding-top: 96px;
  // @include mixin.mq(pc) {
  //   padding-top: 160px;
  // }
}

.inner {
}

.news__inner {
  @include mixin.mq(pc) {
    max-width: 1120px; //なぜ？
  }
}

.title {
}

.news__card {
}

.news__title {
}

.news__lists {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  @include mixin.mq(pc) {
    margin-top: 64px;
    gap: 20px;
  }
}

.news__list {
  display: block;
  width: 345px;
  padding-bottom: calc(28px - 1px);
  border-bottom: 1px solid #e0e0e0;
  @include mixin.mq(pc) {
    width: 100%;
    padding-bottom: calc(25px - 1px);
  }
  // //２番目以降の指定nth-childで指定
  // &:nth-child(n + 2) {
  //   margin-top: 28px;
  // }
  // position: relative;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   top: 0;
  //   left: 0;
  //   background: #e0e0e0;
  // }
}

.news__link-img {
  height: 212.31px;
  width: 345px;
  flex-shrink: 0; //幅を縮めないでください。0ならwidth幅を担保する
  @include mixin.mq(pc) {
    // width: 260px;
    width: 260px;
    height: 100%;
    margin-top: 2px;
    flex-shrink: 0; //縮めない
  }
  img {
    aspect-ratio: 260 /160;
    object-fit: cover;
    @include mixin.mq(pc) {
      aspect-ratio: 260 /160;
    }
  }
}
.news-link {
  @include mixin.mq(pc) {
    display: flex;
    align-items: flex-start; //子要素を上部で揃える指定
    gap: 40px;
  }
}

.news__link-meta {
  margin-top: 16px;
  flex-grow: 1; /**/
  @include mixin.mq(pc) {
    margin-top: 0;
  }
}

.news__link-date {
  font-size: 14px;
}

.news__link-title {
  font-weight: 600;
  margin-top: 8px;
  @include mixin.mq(pc) {
    margin-top: 14px;
    font-size: 18px;
    // letter-spacing: 0.01em;
  }
}

.news__link-text {
  color: #888;
  font-size: 14px;
  margin-top: 14px;
  @include mixin.mq(pc) {
    margin-top: 10px;
    letter-spacing: -0.0025em;
  }
}

.news__button {
  margin-top: 42px;
  // text-align: center; //親要素に中央寄せをかく
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixin.mq(pc) {
    margin-top: 44px;
    font-size: 14px;
  }
}

/*----------------------------------
    motto
-----------------------------------*/
.motto {
  // padding-top: 96px;
  @include mixin.mq(pc) {
    margin-top: -66px;
  }
}

.motto__wrapper {
  // margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  @include mixin.mq(pc) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; //横向き
    // gap: 80px;
    // gap: calc(80px / 1200px * 100%);
    gap: clamp(1.25rem, -5.417rem + 13.89vw, 5rem);
  }
}

.motto__img {
  text-align: center;
  img {
    width: 600px;
    aspect-ratio: 600 /400; //縦横比を設定
  }
  @include mixin.mq(pc) {
    // width: 50%;
    width: calc(600px / 1200px * 100%);
    flex-shrink: 0;
  }
}

.motto__content {
  // margin-top: 34px;
  max-width: 600px;
  margin-inline: auto;
  @include mixin.mq(pc) {
    // width: 50%;
    // margin-top: 1px;
    // padding-left: 20px;
    // padding-right: 80px;
    flex-grow: 1; //フレックスコンテナー内の残りの空間
    margin-top: 4px;
  }
}

.motto__head {
  p {
    font-size: 20px;
    font-weight: 600;
    @include mixin.mq(pc) {
      // font-size: 28px;
      font-size: clamp(1.25rem, 0.361rem + 1.85vw, 1.75rem);
      // font-size: clamp(1.125rem, 0.903rem + 0.46vw, 1.25rem); //18->20px
    }
  }
}

.motto__text {
  font-size: 14px;
  margin-top: 22px;
  letter-spacing: 0.005em;
  @include mixin.mq(pc) {
    // font-size: 16px;
    font-size: clamp(0.875rem, 0.653rem + 0.46vw, 1rem);
    margin-top: 32px;
  }
}

/*----------------------------------
    contact
-----------------------------------*/
.contact {
  padding-block: 56px;
  // margin-top: 96px;
  // padding-top: 48px;
  // padding-bottom: 56px;
  background: url("../../img/contact-bg_sp.png") no-repeat center center / cover;
  @include mixin.mq(pc) {
    // margin-top: 160px;
    // padding-top: 80px;
    // padding-bottom: 80px;
    padding-block: 80px;
    background: url("../../img/contact_bg.png") no-repeat center center / cover;
  }
}
.contact__title {
  color: color.$main-blue;
}

.contact__head {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 64px; //46px;
  .is-required {
    color: #e7728e;
  }
  @include mixin.mq(pc) {
    margin-top: 66px;
  }
}

.contact__form {
  margin-top: 28px;
  @include mixin.mq(pc) {
    margin-top: 19px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__fields {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 32px; //縦並びのflexで縦の余白はgapで設定
  @include mixin.mq(pc) {
    margin-top: 20px;
  }
}

.contact__field {
}

.form-field {
  @include mixin.mq(pc) {
    display: flex; //横並び
    gap: 10px; //フォームの左の余白
  }
  .is-required {
    color: #e7728e;
    font-size: 10px;
    font-weight: 600;
  }
}

.form-field__head {
  color: color.$base-white;
  background: color.$main-blue;
  display: inline-flex;
  gap: 10px;
  padding: 4px 16px;
  align-items: center;
  @include mixin.mq(pc) {
    clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 11px 4px 11px;
    &::before {
      right: 0;
      width: 10px;
      height: 10px;
      background: #000;
      border: 1px solid #fff;
    }
  }
}

.form-field__label {
  font-weight: 600;
  font-size: 14px;
  @include mixin.mq(pc) {
    font-size: 18px;
  }
}

.form-field__item {
  flex-grow: 1; //残りの幅全てに当てててください
  margin-top: 3px;

  @include mixin.mq(pc) {
    width: 320px;
    margin-top: 0;
  }
}

.form-text {
  // border: 1px solid #fff;
  border: none;
  width: 100%;
  height: 40px;
  background: #fff;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  transition: border-color 0.3s;
  &:hover,
  &:focus {
    border-color: color.$main-blue;
    outline: none; /* デフォルトの青いラインを消す */
  }
}

.form-filed__radios {
  display: flex;
  align-items: center;
}

.form-field__radio {
}

.form-radio {
  position: relative;
}

.form-radio__input {
  /*選択はできるけど見えない位置へ*/
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  /*チェックされた時のテキストをどうするか*/
  &:checked + .form-radio__text {
    background-color: color.$main-blue;
    color: color.$base-white;
  }
}

.form-radio__text {
  font-size: 16px;
  letter-spacing: 0.026px;
  color: color.$main-blue;
  border: 1px solid #fff;
  background: #fff;
  position: relative;
  width: 80px;
  height: 40px;
  display: grid;
  place-items: center;
}

.form-textarea {
  // border: 1px solid #fff;
  border: none;
  width: 100%;
  height: 122px;
  background: #fff;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  font-size: 16px;
  resize: vertical; //テキストエリアを縦に伸ばす&:hover,
  &:focus {
    border-color: color.$main-blue;
    outline: none; /* デフォルトの青いラインを消す */
  }
}

.contact__privacy {
  margin-top: 28px;
  // display: flex;
  // justify-content: center;
  align-items: center;
  text-align: center;
}

.form-checkbox {
  position: relative;
}

.form-checkbox__input {
  /*選択はできるけど見えない位置へ*/
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form-checkbox__text {
    &::after {
      opacity: 1;
    }
  }
}

.form-checkbox__text {
  font-size: 16px;
  padding-left: 30px;
  // padding-right: 30px;
  a {
    text-decoration-line: underline;
    // border-bottom: 1px solid color.$main-blue;
    color: color.$main-blue;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset-block: 0;
    margin-block: auto;
  }

  &::before {
    left: 0;
    width: 22px;
    height: 22px;
    background: color.$base-white;
    border: 1px solid color.$main-blue;
  }

  &::after {
    opacity: 0;
    width: 19.414px;
    height: 14.621px;
    left: 1.29px;
    background: url("../../img/icon-checked.png") no-repeat center center /
      contain;
  }
}

.contact__button {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

/*----------------------------------
    footer
-----------------------------------*/
.footer {
  padding-block: 40px 7px;
  background: #f7f7f7;
  @include mixin.mq(pc) {
    padding-bottom: 14px;
  }
}

.footer__inner {
}

.footer__content {
}
.footer__logo {
  margin: 0 auto;

  transition: opacity 0.3s;
  a {
    img {
      width: 120px;
      display: block;
      margin-inline: auto;
    }
  }

  &:hover {
    opacity: 0.6;
  }
}

.footer__menu-items {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include mixin.mq(pc) {
    // display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
  }
}
.footer__menu-item {
  font-size: 12px;
}

.footer__menu-link {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
.footer__sns-items {
  // font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 18px;
}

.footer__sns-link {
  width: 21px;
  height: 21px;
  img {
    max-width: 100%;
    height: auto;
  }
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

.footer__copyright-content {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  small {
    color: #888888;
    font-size: inherit; //要素のプロパティの計算値を親要素から取得するよう指定
  }
  @include mixin.mq(pc) {
    margin-top: 28px;
  }
}

/*----------------------------------
    sample
-----------------------------------*/

// .ex__card {
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 20px;
// }

// .ex__card-link,
// .ex__card > a {
//   display: block;
//   height: 100%;
//   &:hover {
//     opacity: 0.6;
//   }
// }

// .ex__card-img {
//   width: auto;
//   margin-left: auto;
//   margin-right: auto;
//   text-align: center;
//   img {
//     width: 100%;
//     height: auto;
//     aspect-ratio: attr(width) / attr(height);
//   }
// }

// .ex__card-body {
// }

// .ex__card-title {
// }

// .ex__card-text {
// }
