@use "../setting/config";
@use "../setting/color";
@use "../mixin/mixin";

/*----------------------------------
    共通
-----------------------------------*/

body {
  font-family: config.$font-family;
  font-size: config.$font-size-base;
  line-height: config.$line-height-base;
  color: color.$base-black;
  background: color.$base-white;
  font-weight: 300;
}

.hidden-sp {
  @include mixin.mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include mixin.mq(pc) {
    display: none;
  }
}

.inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mixin.mq(pc) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: calc(config.$width-inner + 40px * 2);
  }
}

.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1; /* 40px */
  text-align: center;
  padding-bottom: 28px;

  position: relative;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 60px / 2);
    width: 60px;
    height: 1px;
    // border-radius: 3px;
    background: color.$main-blue;
  }
  @include mixin.mq(pc) {
    font-size: 40px;
    padding-bottom: 24px;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   // bottom: -10px;
    //   left: calc(50% - 60px / 2);
    //   width: 60px;
    //   height: 1px;
    //   // border-radius: 3px;
    //   background: color.$main-blue;
    // }
  }
}

/*----------------------------------
    header
-----------------------------------*/

.header {
  height: 60px;
  @include mixin.mq(pc) {
    height: 70px;
  }

  //   position: fixed;
  //   top: 0;
  //   left: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mixin.mq(pc) {
    max-width: calc(config.$width-inner + 40px * 2);
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header__logo {
  padding-top: 19px;
  transition: opacity 0.3s;
  a {
    img {
      width: 120px;
      display: block; //余計な隙間が出づらくなる
      @include mixin.mq(pc) {
        padding-top: 3px;
      }
    }
  }
  @include mixin.mq(pc) {
    padding-top: 20px;
  }
  &:hover {
    opacity: 0.6;
  }
}

.header__nav {
  display: none;
  @include mixin.mq(pc) {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-top: 22px;
  }
}

.header__link {
  transition: color 0.3s; /* hoverする前のクラスにつける*/

  /* ホバー */
  &:hover {
    color: color.$main-blue;
  }
}

//cssでは使わないみたいohaより
// .header__open {
// }

.drawer-icon {
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 51;
  margin-top: 21px;
  @include mixin.mq(pc) {
    display: none;
  }

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 10px;
        transform: rotate(44.89deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 10px;
        transform: rotate(-44.904deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: color.$main-blue;
  transition: transform 0.3s linear, top 0.3x linear; //linear:一定速度

  &:nth-of-type(1) {
  }
  &:nth-of-type(2) {
    top: 8px;
  }
  &:nth-of-type(3) {
    top: 16px;
  }
}

.drawer-content {
  width: 270px;
  height: 100%;
  position: fixed;
  top: 60;
  right: 0;
  color: color.$base-white;
  background: color.$main-blue;
  z-index: 50;
  padding-top: 40px;
  padding-right: 15px;
  transform: translateX(100%); //コンテンツ分が100%移動
  transition: transform 0.3s linear;
  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content__menu {
  padding-top: calc(40px - 16px);
}

.drawer-content__link {
  display: block;
  font-size: 18px;
  padding-bottom: 32px;
  text-align: right;
}

/*----------------------------------
    mv
-----------------------------------*/
.mv {
  // padding-bottom: 96px;
  // @include mixin.mq(pc) {
  //   padding-bottom: 160px;
  // }
}

.mv__inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mixin.mq(pc) {
    padding-left: 0;
    padding-right: 40px;
    // margin-left: auto;
    // margin-right: auto;
    // right: 0;
    // max-width: config.$width-inner;
  }
}

.mv__wrapper {
  @include mixin.mq(pc) {
    position: relative;
  }
}

.mv__picture {
  display: block;
  text-align: center;
  @include mixin.mq(pc) {
    text-align: right;
  }
  img {
    width: 345px;
    aspect-ratio: 345 /414; //縦横比を設定
    @include mixin.mq(pc) {
      width: 990px;
      aspect-ratio: 990 /660; //縦横比を設定
    }
  }
}

.mv__content {
  @include mixin.mq(pc) {
    background: color.$base-white;
    padding: 80px 30px 80px 40px;
    width: 366px;
    height: 318px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mv__head {
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: -0.01rem;
  @include mixin.mq(pc) {
    margin-top: 0px;
  }
}

.mv__text {
  margin-top: 16px;
  span {
    display: block;
  }
  @include mixin.mq(pc) {
    margin-top: 16px;
    line-height: 1.68;
  }
}

/*----------------------------------
    concept
-----------------------------------*/
.concept {
  padding-top: 96px;
  @include mixin.mq(pc) {
    padding-top: 160px;
  }
}

.concept__wrapper {
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  @include mixin.mq(pc) {
    margin-top: 64px;
    display: flex;
    // gap: 42px;
    align-items: center;
  }
}

.concept__img {
  img {
    width: 600px;
    aspect-ratio: 600 /400; //縦横比を設定
  }
  @include mixin.mq(pc) {
    width: 55%;
  }
}

.concept__content {
  margin-top: 34px;
  max-width: 600px;
  @include mixin.mq(pc) {
    width: 45%;
    margin-top: 6px;
    padding-left: 20px;
  }
}

.concept__head {
  p {
    font-size: 20px;
    font-weight: 600;
    @include mixin.mq(pc) {
      font-size: clamp(1.125rem, 0.903rem + 0.46vw, 1.25rem); //18->20px
    }
  }
}

.concept__text {
  margin-top: 22px;
  line-height: 1.68;
  @include mixin.mq(pc) {
    margin-top: 39px;
    // line-height: config.$line-height-base;
  }
}

/*----------------------------------
    feature
-----------------------------------*/
.feature {
  padding-top: 96px;
  @include mixin.mq(pc) {
    padding-top: 160px;
  }
}

.feature__cards {
  margin-top: 45px;
  // display: block;
  // justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixin.mq(pc) {
    display: grid;
    // gap: 90px;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(0.625rem, -8.264rem + 18.52vw, 5.625rem);
    margin-top: 66px;
  }
  // display: block;
  // gap: 50px;
}

.feature__card {
  background: #fff;
  box-shadow: 3px 3px 15px 0px rgba(96, 96, 96, 0.16);
  max-width: 345px;
}

.feature__card + .feature__card {
  margin-top: 52px;
  @include mixin.mq(pc) {
    margin-top: 0;
  }
}

.feature__card-img {
  text-align: center;
  img {
    height: 243.53px;
    align-self: stretch;
    @include mixin.mq(pc) {
      aspect-ratio: 340/240; /* 画像の比率 width / height */
      object-fit: cover;
      height: 100%;
    }
  }
}

.feature__card-text {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/*----------------------------------
    question
-----------------------------------*/
// .question {
//   position: relative;
//   // background: url("../../img/question-bg.png") no-repeat center center / contain;

//   background: url("../../img/question-bg_sp.png") no-repeat center center /
//     contain;
//   height: 490px;
//   &::before {
//     position: absolute;
//     content: "";
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.12);
//   }
// }
.question {
  position: relative;
  margin-top: 96px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
  }
  @include mixin.mq(pc) {
    margin-top: 160px;
  }
  img {
    width: 100%;
  }
}

.question__inner {
}

.question__contents {
  //レスポンシブ対応はtopを可変に
  position: absolute;
  top: 0;
  left: 0;
  color: color.$base-white;
  padding: 180px 20px 50px 15px;
  @include mixin.mq(pc) {
    // top: 160px;
    max-width: config.$width-inner;

    padding: clamp(2.5rem, -6.722rem + 19.21vw, 7.688rem) 10px 122px 40px; //40->123
  }
}

.question__head {
  font-size: 20px;
  font-weight: 600;
  span {
    display: block;
    font-size: 22px;
  }
}

.question__message {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 600;
  @include mixin.mq(pc) {
    font-size: 16px;
  }
}

/*----------------------------------
    products
-----------------------------------*/
.products {
  padding-top: 96px;
  @include mixin.mq(pc) {
    padding-top: 160px;
  }
}

.products__inner {
  padding-left: 56px;
  padding-right: 56px;
  @include mixin.mq(pc) {
    // padding-left: 0;
    // padding-right: 0;
    // display: flex;
    // margin-left: auto;
    // margin-right: auto;
    // max-width: config.$width-inner;
  }
}

.products__lists {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;

  @include mixin.mq(pc) {
    margin-top: 66px;
    flex-direction: row;
    // gap: 80px; //
    gap: clamp(1.25rem, -5.417rem + 13.89vw, 5rem); //20->80
  }
}

.products__list {
}

.products-link {
  width: 263px;
  @include mixin.mq(pc) {
    width: 260px;
  }
  // padding-top: 10px;
  // padding-bottom: 10px;
  img {
    aspect-ratio: 1 / 1;
  }
  &:hover {
    // img {
    //   width: 120%;
    // }
  }
}

.products__link-meta {
  font-size: 14px;
}

.products__link-title {
  margin-top: 20px;
}

.products__link-price {
  color: #989898;
  margin-top: 10px;
}

.products__button {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixin.mq(pc) {
    margin-top: 44px;
  }
}

.button {
  color: color.$main-blue;
  border: 1px solid color.$main-blue;
  background: color.$base-white;
  display: flex;
  width: 158px;
  padding: calc(12px - 1px) calc(4px - 1px);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s; /* hoverする前のクラスにつける*/

  /* ホバー */
  &:hover {
    background-color: color.$main-blue;
    color: color.$base-white;
  }
}

/*----------------------------------
    news
-----------------------------------*/

.news {
  padding-top: 96px;
  @include mixin.mq(pc) {
    padding-top: 160px;
  }
}

.inner {
}

.news__inner {
  @include mixin.mq(pc) {
    max-width: 1120px; //なぜ？
  }
}

.title {
}

.news__card {
}

.news__title {
}

.news__lists {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  @include mixin.mq(pc) {
    margin-top: 64px;
    gap: 20px;
  }
}

.news__list {
  display: block;
  width: 345px;
  padding-bottom: calc(28px - 1px);
  border-bottom: 1px solid #e0e0e0;
  @include mixin.mq(pc) {
    width: 100%;
    padding-bottom: calc(25px - 1px);
  }
  // //２番目以降の指定nth-childで指定
  // &:nth-child(n + 2) {
  //   margin-top: 28px;
  // }
  // position: relative;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   top: 0;
  //   left: 0;
  //   background: #e0e0e0;
  // }
}

.news__link-img {
  height: 212.31px;
  width: 345px;
  flex-shrink: 0; //幅を縮めないでください。0ならwidth幅を担保する
  @include mixin.mq(pc) {
    // width: 260px;
    width: 260px;
    height: 100%;
    margin-top: 2px;
  }
  img {
    aspect-ratio: 260 /160;
    object-fit: cover;
    @include mixin.mq(pc) {
      aspect-ratio: 260 /160;
    }
  }
}
.news-link {
  @include mixin.mq(pc) {
    display: flex;
    gap: 40px;
  }
}

.news__link-meta {
  margin-top: 16px;
  flex-grow: 1; /**/
  @include mixin.mq(pc) {
    margin-top: 0;
  }
}

.news__link-date {
  font-size: 14px;
}

.news__link-title {
  font-weight: 600;
  margin-top: 8px;
  @include mixin.mq(pc) {
    margin-top: 14px;
    font-size: 18px;
    // letter-spacing: 0.01em;
  }
}

.news__link-text {
  color: #888;
  font-size: 14px;
  margin-top: 14px;
  @include mixin.mq(pc) {
    margin-top: 10px;
    letter-spacing: -0.0025em;
  }
}

.news__button {
  margin-top: 42px;
  // text-align: center; //親要素に中央寄せをかく
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixin.mq(pc) {
    margin-top: 44px;
    font-size: 14px;
  }
}

/*----------------------------------
    motto
-----------------------------------*/
.motto {
  padding-top: 96px;
  @include mixin.mq(pc) {
    padding-top: 160px;
  }
}

.motto__wrapper {
  // margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  @include mixin.mq(pc) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; //横向き
  }
}

.motto__img {
  img {
    width: 600px;
    aspect-ratio: 600 /400; //縦横比を設定
  }
  @include mixin.mq(pc) {
    width: 50%;
  }
}

.motto__content {
  margin-top: 34px;
  max-width: 600px;
  @include mixin.mq(pc) {
    width: 50%;
    margin-top: 1px;
    // padding-left: 20px;
    padding-right: 80px;
  }
}

.motto__head {
  p {
    font-size: 20px;
    font-weight: 600;
    @include mixin.mq(pc) {
      font-size: 28px;
      // font-size: clamp(1.125rem, 0.903rem + 0.46vw, 1.25rem); //18->20px
    }
  }
}

.motto__text {
  font-size: 14px;
  margin-top: 22px;
  letter-spacing: 0.005em;
  @include mixin.mq(pc) {
    font-size: 16px;
    margin-top: 40px;
  }
}

/*----------------------------------
    contact
-----------------------------------*/
.contact {
  padding-top: 96px;
  background: url("../../img/contact-bg_sp.png") no-repeat center center /
    contain;
  @include mixin.mq(pc) {
    margin-top: 160px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../../img/contact_bg.png") no-repeat center center /
      contain;
  }
}
.title__contact {
  color: color.$main-blue;
}

.required {
  color: #e7728e;
}

.contact__head {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 46px;
}

.contact__form {
  margin-top: 28px;
  @include mixin.mq(pc) {
    margin-top: 19px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__fields {
  display: flex;
  flex-direction: column;
  gap: 32px; //縦並びのflexで縦の余白はgapで設定
}

.contact__field {
}

.form-field {
  @include mixin.mq(pc) {
    display: flex; //横並び
    gap: 10px; //フォームの左の余白
  }
}

.form-field__head {
  color: color.$base-white;
  background: color.$main-blue;
  display: inline-block;
  gap: 10px;
  padding: 4px 16px;
  @include mixin.mq(pc) {
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
}

.form-field__label {
  @include mixin.mq(pc) {
  }
}

.form-field__item {
  flex-grow: 1; //残りの幅全てに当てててください
  margin-top: 3px;

  @include mixin.mq(pc) {
    width: 320px;
    margin-top: 0;
  }
}

.form-text {
  border: 1px solid #fff;
  width: 100%;
  height: 40px;
  background: #fff;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  transition: border-color 0.3s;
  &:hover,
  &:focus {
    border-color: color.$main-blue;
    outline: none; /* デフォルトの青いラインを消す */
  }
}

.form-filed__radios {
}

.form-field__radio {
}

.form-radio {
}

.form-radio__input {
}

.form-radio__text {
  position: relative;

  //form-field_radio-textを起点にして擬似要素を作っていく
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    // border-radius: 50%;
  }
  &::before {
    width: 24px;
    height: 24px;
    border: 1px solid color.$base-white;
    background: color.$base-white;
    width: 80px;
    height: 42px;
    // left: 0;
    transition: border-color 0.3s; /*hover時 ○はbeforeで作成されているのでここ*/
  }

  //after 中のオレンジの丸
  &::after {
    width: 78px;
    height: 40px;
    background: color.$main-blue;
    left: 1px;
    opacity: 1; //0にかえる
  }
}

.form-textarea {
  border: 1px solid #fff;
  width: 100%;
  height: 122px;
  background: #fff;
  box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
  &:hover,
  &:focus {
    border-color: color.$main-blue;
    outline: none; /* デフォルトの青いラインを消す */
  }
}

.contact__privacy {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-checkbox {
}

.form-checkbox__input {
}

.form-checkbox__text {
  a {
    border-bottom: 1px solid color.$main-blue;
    color: color.$main-blue;
  }
}

.contact__button {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

/*----------------------------------
    footer
-----------------------------------*/
.footer {
  padding-top: 40px;
  padding-bottom: 10px;
  background: #f7f7f7;
}

.footer__inner {
}

.footer__content {
}
.footer__logo {
  margin: 0 auto;

  width: 120px;
  transition: opacity 0.3s;
  img {
    max-width: 100%;
    height: auto;
  }
  &:hover {
    opacity: 0.6;
  }
}

.footer__link {
  margin-top: 22px;

  a {
    display: block;
    text-align: center;
    @include mixin.mq(pc) {
      display: flex;
      flex-direction: column;
    }
  }
}

.footer__nav-list {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 18px;
}

.footer__privacy {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

.footer__legal {
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

.footer__nav-link {
  width: 21px;
  height: 21px;
  img {
    max-width: 100%;
    height: auto;
  }
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.6;
  }
}

.footer__copyright-content {
  margin-top: 24px;
  color: #888888;
  text-align: center;
}

/*----------------------------------
    sample
-----------------------------------*/

// .ex__card {
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 20px;
// }

// .ex__card-link,
// .ex__card > a {
//   display: block;
//   height: 100%;
//   &:hover {
//     opacity: 0.6;
//   }
// }

// .ex__card-img {
//   width: auto;
//   margin-left: auto;
//   margin-right: auto;
//   text-align: center;
//   img {
//     width: 100%;
//     height: auto;
//     aspect-ratio: attr(width) / attr(height);
//   }
// }

// .ex__card-body {
// }

// .ex__card-title {
// }

// .ex__card-text {
// }
